@model IdentityManagementSystem.UI.ViewModels.TrafficByTypePageViewModel

@{
    ViewData["Title"] = "گزارش تردد بر اساس نوع";
    Layout = "~/Views/Shared/_AccessControlReportsLayout.cshtml";
}

<link rel="stylesheet"
      href="~/css/IndexStyle.css"
      asp-append-version="true" />

<div class="card">

    <div class="card-header">
        <h5 class="card-title">
            گزارش تردد بر اساس نوع
        </h5>

        <div class="card-options">
            <button type="submit"
                    form="reportForm"
                    class="btn btn-outline-primary">
                <i class="fe fe-refresh-cw"></i>
            </button>
        </div>
    </div>

    <div class="card-body">

        <form id="reportForm"
              asp-action="TrafficByTypeReport"
              asp-area="AccessControlReports"
              asp-controller="Report"
              method="post">

            <div class="row">

                <div class="col-md-3 mb-3">
                    <label asp-for="Filter.StartDate" class="form-label">
                        از تاریخ
                    </label>

                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>

                        <input asp-for="Filter.StartDate"
                               class="form-control fc-datepicker"
                               autocomplete="off" />
                    </div>
                </div>

                <div class="col-md-3 mb-3">
                    <label asp-for="Filter.EndDate" class="form-label">
                        تا تاریخ
                    </label>

                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="fa fa-calendar"></i>
                        </span>

                        <input asp-for="Filter.EndDate"
                               class="form-control fc-datepicker"
                               autocomplete="off" />
                    </div>
                </div>

                <div class="col-md-2 mb-3">
                    <label asp-for="Filter.StartTime" class="form-label">
                        از ساعت
                    </label>

                    <input asp-for="Filter.StartTime"
                           type="time"
                           class="form-control" />
                </div>

                <div class="col-md-2 mb-3">
                    <label asp-for="Filter.EndTime" class="form-label">
                        تا ساعت
                    </label>

                    <input asp-for="Filter.EndTime"
                           type="time"
                           class="form-control" />
                </div>

                <div class="col-md-2 mb-3">
                    <label class="form-label">مسیر تردد</label>
                    <select class="form-control form-select" placeholder="انتخاب کنید">
                        <option value="0">انتخاب کنید</option>
                        <option value="1"> تمام ترددها</option>
                        <option value="2"> سواری رو</option>
                        <option value="3">کامیون رو</option>
                        <option value="4">نفر رو</option>
                    </select>
                </div>

                <div class="col-md-12 text-end mb-3">
                    <button type="submit" class="btn btn-primary"><i class="fe fe-search"></i>دریافت گزارش </button>
                </div>
            </div>

        </form>
        <div class="btn-group mb-2" role="group" >
            <button type="button" class="btn btn-outline-primary">پرینت</button>
            <button type="button" class="btn btn-outline-primary">اکسل</button>
            <button type="button" class="btn btn-outline-primary">PDF</button>
        </div>

        <div class="table-responsive">

            <table id="trafficByTypeTable"
                   class="table table-bordered table-hover text-nowrap">

                <thead class="table-light">
                    <tr>
                        <th>ردیف</th>
                        <th>تاریخ گزارش</th>
                        <th>مسیر تردد</th>
                        <th>تعداد تردد</th>
                    </tr>
                </thead>

                <tbody>

                    @if (Model?.Reports?.Any() == true)
                    {
                        int rowNumber = 1;

                        foreach (var item in Model.Reports)
                        {
                            <tr>
                                <td>@rowNumber</td>
                                <td>@item.ReportDate</td>
                                <td>@item.EntranceType</td>
                                <td>
                                    <span class="badge bg-success">
                                        @item.RecordCount
                                    </span>
                                </td>
                            </tr>

                            rowNumber++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4"
                                class="text-center">
                                هیچ اطلاعاتی وجود ندارد
                            </td>
                        </tr>
                    }

                </tbody>

            </table>

        </div>

    </div>

</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
