@model PomixPMOService.UI.ViewModels.LoginViewModel
@{
    ViewData["Title"] = "ورود موفقیت‌آمیز";
    Layout = "~/Views/Shared/_LayoutAuth.cshtml";
}

<div class="page">
    <div class="container-login100">
        <div class="wrap-login100 p-6">
            <div class="login100-form-title">ورود موفقیت‌آمیز</div>
            <p class="text-center">@ViewBag.SuccessMessage</p>
            <p class="text-center">در حال انتقال به کارتابل...</p>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // ذخیره توکن در localStorage
        const jwtToken = '@ViewBag.JwtToken';
        if (jwtToken) {
            localStorage.setItem('jwtToken', jwtToken);
            console.log('Token stored:', jwtToken); // برای دیباگ
            // هدایت به کارتابل بعد از 1 ثانیه
            setTimeout(() => {
                window.location.href = '/Cartable/Index';
            }, 1000);
        } else {
            alert('خطا: توکن دریافت نشد.');
        }
    </script>
}