
@{
    ViewData["Title"] = "شاهکار";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h4 class="card-title">احراز سند </h4>
    </div>
    <div class="card-body">
        <form>
            <div class="">
                <div class="form-group">
                    <label for="exampleInputEmail1" class="form-label">شماره سند</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1" class="form-label">رمز تصدیق</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="">
                </div>
            </div>
            <button class="btn btn-primary mt-4 mb-0">بررسی</button>
        </form>
    </div>
</div>